<launch>
<param name="video_source" value="/home/nvidia/RM/YZCHEN/ros_ws/src/RM_NUAA_ROS_YZ/windMill/video/red-p.mov"/>
    <node pkg="windMill" type="windMill_node" name="windMill" output="screen"   />
    <node pkg="video_pub" type="video_pub_node" name="video_pub" respawn="true" />
    <node pkg="numPred" type="numPred_node.py" name="numPred" output="screen" />
    <!--<rosparam command="load" file="$(find edt)/cfg/params.yaml" />-->

</launch>
